body {

	#header {

		width: 100%;
		height: 7vh;
		background-color: #FF3636;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 130%;
		font-weight: bold;
	}

	#register_box {

		display: flex;
		width: 100%;
		height: 93vh;
		min-height: 600px;
		justify-content: center;
		align-items: center;

		form {

			width: 400px;
			height: 500px;
			background-color: rgba(255, 113, 0, 0.85);
			border-radius: 5px;

			.head {

				height: 50px;
				width: 100%;
				background-color: #DA6100;
				color: white;
				font-size: 150%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}

			input {

				width: 300px;
				height: 40px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
			}

			.username {

				margin-top: 30px;
			}

			.row {

				width: 300px;
				margin-left: auto;
				margin-right: auto;
			}

			.first {

				width: 140px;
				margin-left: 0px;
			}

			.last {

				width: 140px;
				margin-right: 0px;
				margin-left: 0px;
			}

			.submit {
				
				width: 300px;
				margin-left: auto;
				margin-right: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 30px;

				button {

					font-weight: bold;
					width: 120px;
				}

				div {

					margin-top: 10px;
				}
			}
		}
	}

	#login_box {

		@extend #register_box;

		form {

			height: 450px;

			.username {

				margin-top: 50px;
			}

			input {

				height: 50px;
				margin-top: 30px;
			}

			.forgotten {

				width: 300px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;

				a {

					float: right;
				}
			}

			.submit {

				margin-top: 70px;
			}
		}
	}
}