{% load static %}

<!DOCTYPE html>
<html>
	<head>

		<title>Pinochio's Pizza & Subs: Menu</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Icon FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bayon' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/kg-happy" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/kg-tangled-up-in-you" rel="stylesheet">
	
	<style>

	body{
		background_color: #000;
	}
	</style>
    <!-- Carousel JQuery -->
    <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'order/stylesheets.css' %}">
	</head>

	<body>
		{% comment %} <div id="search">
			<form class="d-flex" method=POST action="{% url 'search' %}">
			{% csrf_token %}
        	<input class="form-control me-2" type="search" placeholder="Search Food" aria-label="Search" name = "searched">
        	<button class="btn btn-outline-secondary" type="submit">Search</button>
		</div> {% endcomment %}
      </form>
		<div id="header">
			<a href="{% url 'home' %}" class="text">Pinochio's Pizza & Subs</a>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}" class="log">Logout</a>
				<a href="{% url 'mycart' %}" class="mycart">Cart</a>
			{% else %}
				<a href="{% url 'login' %}" class="log">Login</a>
			{% endif %}
		</div>
		<div id="index_box">
			<div class="title">Our course</div>
			<div class="regular_pizza">
				<div class="head">
					<div class="text">Regular Pizza</div>
					<div class="line"></div>
				</div>
				<div class="course">
					{% if regular_pizza %}
						<div class="item">
							<div class="course"></div>
							<div class="size_small">Small</div>
							<div class="size_large">Large</div>
						</div>
						{% for item in regular_pizza %}
							<div class="item">
								<a href="regular_pizza/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small">{{item.size_small}}</div>
								<div class="size_large">{{item.size_large}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
			<div class="sicilian_pizza">
				<div class="head">
					<div class="text">Sicilian Pizza</div>
					<div class="line"></div>
				</div>
				<div>
					{% if sicilian_pizza %}
						<div class="item">
							<div class="course"></div>
							<div class="size_small">Small</div>
							<div class="size_large">Large</div>
						</div>
						{% for item in sicilian_pizza %}
							<div class="item">
								<a href="sicilian_pizza/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small">{{item.size_small}}</div>
								<div class="size_large">{{item.size_large}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
			<div class="sub">
				<div class="head">
					<div class="text">Subs</div>
					<div class="line"></div>
				</div>
				<div>
					{% if sub %}
						<div class="item">
							<div class="course"></div>
							<div class="size_small">Small</div>
							<div class="size_large">Large</div>
						</div>
						{% for item in sub %}
							<div class="item">
								<a href="sub/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small">{{item.size_small}}</div>
								<div class="size_large">{{item.size_large}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
			<div class="pasta">
				<div class="head">
					<div class="text">Pasta</div>
					<div class="line"></div>
				</div>
				<div>
					{% if pasta %}
						{% for item in pasta %}
							<div class="item">
								<a href="pasta/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small" style="width: 10%;"></div>
								<div class="size_large" style="width: 50%;">{{item.price}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
			<div class="salad">
				<div class="head">
					<div class="text">Salads</div>
					<div class="line"></div>
				</div>
				<div>
					{% if salad %}
						{% for item in salad %}
							<div class="item">
								<a href="salad/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small" style="width: 10%;"></div>
								<div class="size_large" style="width: 50%;">{{item.price}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
			<div class="dinner_platter">
				<div class="head">
					<div class="text">Dinner Platters</div>
					<div class="line"></div>
				</div>
				<div>
					{% if dinner_platter %}
						<div class="item">
							<div class="course"></div>
							<div class="size_small">Small</div>
							<div class="size_large">Large</div>
						</div>
						{% for item in dinner_platter %}
							<div class="item">
								<a href="dinner_platter/{{item.id}}" class="course">{{item.course}}</a>
								<div class="size_small">{{item.size_small}}</div>
								<div class="size_large">{{item.size_large}}</div>
							</div>
						{% endfor %}
					{% else %}
						No Selection
					{% endif %}
				</div>
			</div>
		</div>
	 <div class="signup_social-h">
            <div class="container-fluid wrapper_content-h">
                <div class="row align-items-center">

                    <div class="signup-h col-md-6">


                                <form action="">
                                    <label for="EMAIL">NEWS AND OFFERS</label>
                                    <div class="">
                                        <input type="email" value="" class="input_email-h" placeholder="Email" required>
                                        <input type="submit" value="Submit" class="input_submit-h button-h">
                                        <div class="checkbox_holder-h">
                                            <input type="checkbox" value="" name="PRIVACY" class="check_policy-h"
                                                required>
                                            <p>By signing up you are agreeing to receive marketing updates from Pinochio. You
                                                can find more information in our <a target="_blank"
                                                    href="/privacy">Privacy Policy</a></p>
                                        </div>
                                        <p class="error-h">Please agree to the privacy policy</p>
                                    </div>
                                </form>

                            </div>

                            <div class="social-h col-md-6">

                                <h3>GET SOCIAL</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="snapchat"><i class="fab fa-snapchat-ghost"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="youtube"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i></a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
	<footer class="">
        <div class="wrapper_content-h">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Gift vouchers</a>
                    </li>
                </ul>
            </nav>
            <p class="copyright-h">© Copyright  2021.</p>
            <a class="product_link-h" href="javascript:void(0)">Website by Team4 </a>
        </div>
    </footer>




    <!-- Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
		
	</body>
</html>