{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Mark Store: Menu</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <!-- Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Bayon' rel='stylesheet'>
      <link href="http://fonts.cdnfonts.com/css/kg-happy" rel="stylesheet">
      <link href="http://fonts.cdnfonts.com/css/kg-tangled-up-in-you" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'order/stylesheets.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">      
   </head>
   <body style="background-image: url({% static 'authentication/login_background.png' %}); background-size: cover; background-repeat: no-repeat"
      <!-- Header -->
    <header>
        <div class="container wrapper_content-h">
            <div class="d-flex align-items-start justify-content-between">
                <div class="logo-full" style="width: 75px; height: 164.028px;">
                    <a href="./">
                       <h4 style="color: white">Mark Store</h4>
                    </a>
                </div>
                <div class="center_links-h">
                    <a href="{% url 'index' %}">HOME</a>
                    <a href="{% url 'menu' %}">MENU</a>
                    <a href="{% url 'location' %}">LOCATIONS</a>
                    <a href="{% url 'contact' %}">CONTACT US</a>
                </div>

                <div class="main_links-h">    
                    <div class="fixed-h nav">
                        <a class="nav-link" href="{% url 'cart' %}"><i class="fas fa-shopping-bag"></i>Cart</a>
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Log out</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i>Login</a>
                        {% endif %}                        
                    </div>
                </div>
            </div>
            
        </div>

    </header>
   		<div class="entire_body">
   			<div class="background">
		         <div class="background_color-h"></div>
		         <div class="background_image-h">
		         </div>
		         <div class="background_gradient-h"></div>

		     </div>
   			<div class="foreground">
   				<main class="content">
   					<div class="front_page_gradient-h"></div>
	                
   				</main>
   			</div>
   		</div>
   		<div id="index_box" style="margin-top: -350px">
   			<div class="title">Our product</div>
   			<div id="search" style="display: flex; justify-content: end">
		         <div class="d-flex mr-4 mt-4">
		            <button style="padding: 0.375rem 0.75rem; margin-top: 0px; margin-right: 10px" class="btn btn-outline-secondary" type="button" onclick="getmenu('key')">Search</button>
		            <input id="key" class="form-control me-2" type="search" placeholder="Search ..." aria-label="Search" name = "searched">		            
		         </div>
		      </div>
   			<div class="regular_pizza">
   				<div class="head">
   					<div class="text">Book</div>
   					<div class="line"></div>
   				</div>
      			<div class="course">
      				
      				

      			</div>
   			</div>
   			<div class="sicilian_pizza">
   				<div class="head">
   					<div class="text">Laptop</div>
   					<div class="line"></div>
   				</div>
   				<div class="course">
   					


   				</div>
   			</div>
   		<div class="sub">
   			<div class="head">
   				<div class="text">Clothes</div>
   				<div class="line"></div>
      		</div>
      		<div class="course">
      			


      		</div>
   		</div>      	
      	<div class="signup_social-h">
      		<div class="container-fluid wrapper_content-h">
      			<div class="row align-items-center">
      				<div class="signup-h col-md-6">
      					<form action="">
      						<label for="EMAIL">NEWS AND ORDERS</label>
      						<div class="">
      							<input type="email" value="" class="input_email-h" placeholder="Email" required>
      							<input type="submit" value="Submit" class="input_submit-h button-h">
      							<div class="checkbox_holder-h">
      								<input type="checkbox" value="" name="PRIVACY" class="check_policy-h"
         							required>
      								<p>By signing up you are agreeing to receive marketing updates from us. You
      								can find more information in our <a target="_blank"
         							href="/privacy">Privacy Policy</a></p>
      							</div>
      							<p class="error-h">Please agree to the privacy policy</p>
      						</div>
      					</form>
      				</div>
      				<div class="social-h col-md-6">
      					<h3>GET SOCIAL</h3>
      					<ul>
      						<li>
      							<a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i></a>
      						</li>
      						<li>
      							<a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i></a>
      						</li>
      						<li>
      							<a href="javascript:void(0)" class="snapchat"><i class="fab fa-snapchat-ghost"></i></a>
      						</li>
      						<li>
      							<a href="javascript:void(0)" class="youtube"><i class="fab fa-youtube"></i></a>
      						</li>
      						<li>
      							<a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i></a>
      						</li>
      					</ul>
      				</div>
  				</div>
			</div>
      	</div>
      <footer class="">
         <div class="wrapper_content-h">
            <nav>
               <ul class="nav">
                  <li class="nav-item">
                     <a class="nav-link" href="">Careers</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="">FAQs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="">Privacy</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="">Gift vouchers</a>
                  </li>
               </ul>
            </nav>
            <p class="copyright-h">© Copyright  2021.</p>
            <a class="product_link-h" href="javascript:void(0)">Website by Team4 </a>
         </div>
      </footer>
      <!-- Bootstrap 4 JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script type="text/javascript">
      	function getmenu(key) {

      		if (key == 'key') {

      			key = document.querySelector('#key').value;
      		}

			    $.ajax({
			        type: 'GET',
			        url: "{% url 'getmenu' %}",
			        data: {'key': key},
			        success: function (res) {

			        		// Handle regular_pizza item
			        		var regular_pizza_box = document.querySelector('.regular_pizza');
			        		var course_box = regular_pizza_box.querySelector('.course');
			        		course_box.innerHTML = `

			        			<div class="item">
									<div class="img">
										<div style="width:80px; height:80px"></div>
									</div>
			      					<div class="course"></div>
			      					<div class="size_small">Price</div>
			      					<div class="size_large" style="display: none">Price</div>
		      				</div>

			        		`;
			            
			            for (let i = 0;  i < res['BookItem'].length; i++) {

			            	var box_contain = document.createElement('div');
			            	box_contain.className = 'item';
			            	
			            	var box_img = document.createElement('div');
			            	box_img.className = 'img'

			            	var img = document.createElement('img');
			            	img.src = res['BookItem'][i].image;
			            	img.style.width = '80px';
			            	img.style.height = '80px'
			            	
			            	box_img.append(img);

			            	box_contain.append(box_img)

			            	var a = document.createElement('a');
			            	a.className = 'course'
			            	a.innerHTML = res['BookItem'][i].name;
			            	a.href = 'bookItem/' + res['BookItem'][i].id;

			            	box_contain.append(a);

			            	var size_small = document.createElement('div');
			            	size_small.className = 'size_small';
			            	size_small.innerHTML = res['BookItem'][i].price;

			            	// var size_large = document.createElement('div');
			            	// size_large.className = 'size_large';
			            	// size_large.innerHTML = res['BookItem'][i].price;

			            	box_contain.append(size_small);
			            	// box_contain.append(size_large);

			            	course_box.append(box_contain);
			            }

			            // Handle sicilian_pizza item
			        		var sicilian_pizza_box = document.querySelector('.sicilian_pizza');
			        		var course_box = sicilian_pizza_box.querySelector('.course');
			        		course_box.innerHTML = `

			        			<div class="item">
									<div class="img">
										<div style="width:80px; height:80px"></div>
									</div>
		      					<div class="course"></div>
		      					<div class="size_small">Price</div>
		      					<div class="size_large" style="display: none">Price</div>
		   					</div>
			        		`;
			            
			            for (let i = 0;  i < res['LaptopItem'].length; i++) {

			            	var box_contain = document.createElement('div');
			            	box_contain.className = 'item';
			            	
			            	var box_img = document.createElement('div');
			            	box_img.className = 'img'

			            	var img = document.createElement('img');
			            	img.src = res['LaptopItem'][i].image;
			            	img.style.width = '80px';
			            	img.style.height = '80px'
			            	
			            	box_img.append(img);

			            	box_contain.append(box_img)

			            	var a = document.createElement('a');
			            	a.className = 'course'
			            	a.innerHTML = res['LaptopItem'][i].name;
			            	a.href = 'laptopItem/' + res['LaptopItem'][i].id;

			            	box_contain.append(a);

			            	var size_small = document.createElement('div');
			            	size_small.className = 'size_small';
			            	size_small.innerHTML = res['LaptopItem'][i].price;

			            	// var size_large = document.createElement('div');
			            	// size_large.className = 'size_large';
			            	// size_large.innerHTML = res['LaptopItem'][i].price;

			            	box_contain.append(size_small);
			            	// box_contain.append(size_large);

			            	course_box.append(box_contain);
			            }

			            // Handle sub item
			        		var sub_box = document.querySelector('.sub');
			        		var course_box = sub_box.querySelector('.course');
			        		course_box.innerHTML = `

			        			<div class="item">
									<div class="img">
										<div style="width:80px; height:80px"></div>
									</div>  
						      	<div class="course"></div>
							      <div class="size_small">Price</div>
							      <div class="size_large" style="display: none">Price</div>
			      			</div>
			        		`;
			            
			            for (let i = 0;  i < res['ClothesItem'].length; i++) {

			            	var box_contain = document.createElement('div');
			            	box_contain.className = 'item';
			            	
			            	var box_img = document.createElement('div');
			            	box_img.className = 'img'

			            	var img = document.createElement('img');
			            	img.src = res['ClothesItem'][i].image;
			            	img.style.width = '80px';
			            	img.style.height = '80px'
			            	
			            	box_img.append(img);

			            	box_contain.append(box_img)

			            	var a = document.createElement('a');
			            	a.className = 'course'
			            	a.innerHTML = res['ClothesItem'][i].name;
			            	a.href = 'clothesItem/' + res['ClothesItem'][i].id;

			            	box_contain.append(a);

			            	var size_small = document.createElement('div');
			            	size_small.className = 'size_small';
			            	size_small.innerHTML = res['ClothesItem'][i].price;

			            	// var size_large = document.createElement('div');
			            	// size_large.className = 'size_large';
			            	// size_large.innerHTML = res['ClothesItem'][i].price;

			            	box_contain.append(size_small);
			            	// box_contain.append(size_large);

			            	course_box.append(box_contain);
			            }

			     //        // Handle pasta item
			     //    		var pasta_box = document.querySelector('.pasta');
			     //    		var course_box = pasta_box.querySelector('.course');
			     //    		course_box.innerHTML = `

			     //    			<div class="item">
								// 	<div class="img">
								// 		<div style="width:80px; height:80px"></div>
								// 	</div>  
						  //     	<div class="course"></div>
							 //      <div class="size_small" style="width: 10%;"></div>
							 //      <div class="size_large" style="width: 50%;">Price</div>
			     //  			</div>

			     //    		`
			            
			     //        for (let i = 0;  i < res['pasta'].length; i++) {

			     //        	var box_contain = document.createElement('div');
			     //        	box_contain.className = 'item';
			            	
			     //        	var box_img = document.createElement('div');
			     //        	box_img.className = 'img'

			     //        	var img = document.createElement('img');
			     //        	img.src = res['pasta'][i].image_url;
			     //        	img.style.width = '80px';
			     //        	img.style.height = '80px'
			            	
			     //        	box_img.append(img);

			     //        	box_contain.append(box_img)

			     //        	var a = document.createElement('a');
			     //        	a.className = 'course'
			     //        	a.innerHTML = res['pasta'][i].course;
			     //        	a.href = 'pasta/' + res['pasta'][i].id;

			     //        	box_contain.append(a);

			     //        	var size_small = document.createElement('div');
			     //        	size_small.className = 'size_small';
			     //        	size_small.style.width = '10%';

			     //        	var size_large = document.createElement('div');
			     //        	size_large.className = 'size_large';
			     //        	size_large.innerHTML = res['pasta'][i].price;
			     //        	size_large.style.width = '50%';

			     //        	box_contain.append(size_small);
			     //        	box_contain.append(size_large);

			     //        	course_box.append(box_contain);
			     //        }

			     //        // Handle salad item
			     //    		var salad_box = document.querySelector('.salad');
			     //    		var course_box = salad_box.querySelector('.course');
			     //    		course_box.innerHTML = `

			     //    			<div class="item">
								// 	<div class="img">
								// 		<div style="width:80px; height:80px"></div>
								// 	</div>  
						  //     	<div class="course"></div>
							 //      <div class="size_small" style="width: 10%;"></div>
							 //      <div class="size_large" style="width: 50%;">Price</div>
								// </div>

			     //    		`
			            
			     //        for (let i = 0;  i < res['salad'].length; i++) {

			     //        	var box_contain = document.createElement('div');
			     //        	box_contain.className = 'item';
			            	
			     //        	var box_img = document.createElement('div');
			     //        	box_img.className = 'img'

			     //        	var img = document.createElement('img');
			     //        	img.src = res['salad'][i].image_url;
			     //        	img.style.width = '80px';
			     //        	img.style.height = '80px'
			            	
			     //        	box_img.append(img);

			     //        	box_contain.append(box_img)

			     //        	var a = document.createElement('a');
			     //        	a.className = 'course'
			     //        	a.innerHTML = res['salad'][i].course;
			     //        	a.href = 'salad/' + res['salad'][i].id;

			     //        	box_contain.append(a);

			     //        	var size_small = document.createElement('div');
			     //        	size_small.className = 'size_small';
			     //        	size_small.style.width = '10%';

			     //        	var size_large = document.createElement('div');
			     //        	size_large.className = 'size_large';
			     //        	size_large.innerHTML = res['salad'][i].price;
			     //        	size_large.style.width = '50%';

			     //        	box_contain.append(size_small);
			     //        	box_contain.append(size_large);

			     //        	course_box.append(box_contain);
			     //        }

			     //        // Handle dinner_platter item
			     //    		var dinner_platter_box = document.querySelector('.dinner_platter');
			     //    		var course_box = dinner_platter_box.querySelector('.course');
			     //    		course_box.innerHTML = `

			     //    			<div class="item">
								// 	<div class="img">
								// 		<div style="width:80px; height:80px"></div>
								// 	</div>  
						  //     	<div class="course"></div>
							 //      <div class="size_small">Small</div>
							 //      <div class="size_large">Large</div>
				   	// 		</div>
			     //    		`
			            
			     //        for (let i = 0;  i < res['dinner_platter'].length; i++) {

			     //        	var box_contain = document.createElement('div');
			     //        	box_contain.className = 'item';
			            	
			     //        	var box_img = document.createElement('div');
			     //        	box_img.className = 'img'

			     //        	var img = document.createElement('img');
			     //        	img.src = res['dinner_platter'][i].image_url;
			     //        	img.style.width = '80px';
			     //        	img.style.height = '80px'
			            	
			     //        	box_img.append(img);

			     //        	box_contain.append(box_img)

			     //        	var a = document.createElement('a');
			     //        	a.className = 'course'
			     //        	a.innerHTML = res['dinner_platter'][i].course;
			     //        	a.href = 'dinner_platter/' + res['dinner_platter'][i].id;

			     //        	box_contain.append(a);

			     //        	var size_small = document.createElement('div');
			     //        	size_small.className = 'size_small';
			     //        	size_small.innerHTML = res['dinner_platter'][i].size_small;

			     //        	var size_large = document.createElement('div');
			     //        	size_large.className = 'size_large';
			     //        	size_large.innerHTML = res['dinner_platter'][i].size_large;

			     //        	box_contain.append(size_small);
			     //        	box_contain.append(size_large);

			     //        	course_box.append(box_contain);
			     //        }
			        },
			        error: function (res) {
			            console.log(res)
			        }
			    })
			}

			getmenu('');
      </script>
   </body>
</html>