
{% load static %}

<!DOCTYPE html>
<html>
<head>

	<title>Pinochio's Pizza & Subs: Order</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'order/stylesheets.css' %}">
	<script type="text/javascript" src="{% static 'order/javascripts.js' %}"></script>
</head>

<body>
<div id="header">
	<a href="{% url 'home' %}" class="text">Pinochio's Pizza & Subs</a>
	{% if user.is_authenticated %}
	<a href="{% url 'logout' %}" class="log">Logout</a>
	<a href="{% url 'mycart' %}" class="mycart">Cart</a>
	{% else %}
	<a href="{% url 'login' %}" class="log">Login</a>
	{% endif %}
</div>
<div id="order_box">
	{% if option == "regular_pizza" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Regular Pizza - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="size">
			<input type="radio" name="size" data-size="size small" value="{{size_small}}" id="size_small" checked>
			<label for="size_small">Size small</label>
			<input type="radio" name="size" data-size="size large" value="{{size_large}}" id="size_large">
			<label for="size_large">Size large</label>
			<input type="hidden" name="type">
		</div>
		{% if number_toppings > 0 %}
		<div class="select_topping">Select {{number_toppings}} toppings:</div>
		<input class="limit" type="hidden" name="number_toppings" value="{{number_toppings}}">
		{% for topping in list_toppings %}
		<div class="topping">
			<input type="checkbox" name="topping" value="{{topping}}">
			<label>{{topping}}</label>
		</div>
		{% endfor %}
		{% else %}
		<div class="select_topping">This course doesn't have toppings</div>
		{% endif %}
		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
	{% if option == "sicilian_pizza" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Sicilian Pizza - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="size">
			<input type="radio" name="size" data-size="size small" value="{{size_small}}" id="size_small" checked>
			<label for="size_small">Size small</label>
			<input type="radio" name="size" data-size="size large" value="{{size_large}}" id="size_large">
			<label for="size_large">Size large</label>
			<input type="hidden" name="type">
		</div>
		{% if number_toppings > 0 %}
		<div class="select_topping">Select {{number_toppings}} items:</div>
		<input class="limit" type="hidden" name="number_toppings" value="{{number_toppings}}">
		{% for topping in list_toppings %}
		<div class="topping">
			<input type="checkbox" name="topping" value="{{topping}}">
			<label>{{topping}}</label>
		</div>
		{% endfor %}
		{% else %}
		<div class="select_topping">This course doesn't have items</div>
		{% endif %}
		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
	{% if option == "sub" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Subs - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="size">
			<input type="radio" name="size" data-size="size small" value="{{size_small}}" id="size_small" checked>
			<label for="size_small">Size small</label>
			<input type="radio" name="size" data-size="size large" value="{{size_large}}" id="size_large">
			<label for="size_large">Size large</label>
			<input type="hidden" name="type">
		</div>

		<div class="select_topping">Check on box if you want to use extra item:</div>
		<input class="limit" type="hidden" name="number_toppings" value="{{list_extras|length}}">
		{% for extra in list_extras %}
		<div class="topping">
			<input type="checkbox" name="topping" value="{{extra}}">
			<label>{{extra}}</label>
		</div>
		{% endfor %}

		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
	{% if option == "pasta" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Pasta - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="unit_price">
			<div>Unit price: ${{price}}</div>
			<input type="hidden" class="unit" name="unit" value="{{price}}">
		</div>
		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
	{% if option == "salad" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Salads - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="unit_price">
			<div>Unit price: ${{price}}</div>
			<input type="hidden" class="unit" name="unit" value="{{price}}">
		</div>
		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
	{% if option == "dinner_platter" %}
	<form action="{% url 'cart' %}" method="post">
		{% csrf_token %}
		<div class="name">Dinner Platter - {{course}}</div>
		<input type="hidden" name="option" value="{{option}}">
		<input type="hidden" name="course" value="{{course}}">
		<div class="size">
			<input type="radio" name="size" data-size="size small" value="{{size_small}}" id="size_small" checked>
			<label for="size_small">Size small</label>
			<input type="radio" name="size" data-size="size large" value="{{size_large}}" id="size_large">
			<label for="size_large">Size large</label>
			<input type="hidden" name="type">
		</div>
		<div class="qty">
			<div>Qty:</div>
			<button type="button" class="subtract">-</button>
			<div class="number">1</div>
			<button type="button" class="add">+</button>
		</div>
		<input type="hidden" name="qty">
		<div class="cost">
			<div>Price: $</div>
			<div class="price"></div>
		</div>
		<input type="hidden" name="price">
		<div class="add_cart">Add to cart</div>
	</form>
	{% endif %}
</div>

<div class="footer">
<p>Footer</p>
</div>

</body>


</html>